img.banner {
    width:100%;
    /* @media only screen and (min-width:992px) */
}

.intro {font-family: 'Lato', sans-serif;}
h1{
    font-family: 'Open Sans', sans-serif;
    fon-size:25px;
}
ul#items li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding:8px;
    background-color: #ffe854
}

h1.home-about {font-size:40px;
            align-items: center;
            margin:auto;
            font-weight: bold;
            color:white;
            background-color:#a33729;
            display:block;
            padding: 15px;
            text-align: center;
            width: 300px;
}

.headshot-text {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}
.headshot {width:150px;
             height:200px;
         }
h2{
    font-family: 'Lato', sans-serif;
}
h3{font-family: 'Open Sans', sans-serif;}

h4{
    font-family: 'Lato', sans-serif;
}
div.homepage {width: 100%;}
ul.pages {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    style-type: none;
}
h1.about-title {
    color:white;
background-color:#a33729
}
#wireframe-images {
    width: 300px;
    margin: 15px;
}
.color-palette{
    background-color: white;
    border: 2px solid black;
    padding: 10px;

}
.color-01{
    color:#F5FFE9;
    background-color:#F5FFE9;
    height:150px;
    width:150px;
    display: inline-block;
    height:150px;
    width:150px;
    display: inline-block;
}
.color-2{
    color:#FFFFB9;
    background-color:#FFFFB9;
    height:150px;
    width:150px;
    display: inline-block;
}
.color-3{
    color:#E1D57A;
    height:150px;
    width:150px;
    display: inline-block;
}
.color-4{
    color:#FE9AAE;
    background-color:#FE9AAE;
    height:150px;
    width:150px;
    display: inline-block;
}
.color-5{
    color:#B85156;
    background-color:#B85156;
    height:150px;
    width:150px;
    display: inline-block;
}

/* clip section */
.clips {
    display: flex;
    flex-wrap: wrap;
    /* flex direction: column; */
    gap: 25px;
    justify-content: center;
}
.article {
    display: flex;
    gap:15px;
}
.article img {
    max-width:350px;
    max-height: 250px;
    flex-grow: 1;
}
.article div{
    max-width: 300px;
}
@media screen and (max-width:1375px) {
    .article div {
        max-width:600px;
    }
}
