img.banner {
    width:100%;
    margin-bottom: 15px;
    /* @media only screen and (min-width:992px) */
}
body {
    background-color: #fffacf;
    margin:0;
}
.intro {font-family: 'Lato', sans-serif;}
h1{
    font-family: 'Open Sans', sans-serif;
    fon-size:25px;
}
ul#items li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding:8px;
    background-color: #d4bd00;
}

h1.home-about {font-size:40px;
            align-items: center;
            margin:auto;
            font-weight: bold;
            color:white;
            background-color:#a33729;
            display:block;
            padding: 20px;
            text-align: center;
            width: 300px;
}

.headshot-text {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.headshot {width:150px;
            height:200px;
         }
h2{
    font-family: 'Lato', sans-serif;
}
h3{font-family: 'Open Sans', sans-serif;}

h4{
    font-family: 'Lato', sans-serif;
}
div.homepage {width: 100%;}
ul.pages {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    style-type: none;
}
h1.about-title {
    color:white;
background-color:#a33729
}
#wireframe-images {
    width: 300px;
    margin: 15px;
}
.color-palette{
    background-color: white;
    border: 2px solid black;
    padding: 10px;

}
/* clip section */
.clips {
    display: flex;
    flex-wrap: wrap;
    /* flex direction: column; */
    gap: 25px;
    justify-content: center;
}
.article {
    display: flex;
    gap:15px;
}
.article img {
    max-width:350px;
    max-height: 250px;
    flex-grow: 1;
}
.article div{
    max-width: 300px;
}
@media screen and (max-width:1375px) {
    .article div {
        max-width:600px;
    }
}
.flex-container {
    display:flex;
    gap: 20px;
    height: 50px;
    width:50px;
    flex-direction: row;
    flex-wrap:wrap;
    flex-basis:25%;
}
.flex-container.experience {
    flex-wrap: wrap;
    width:100%;
}
.flex-container.experience div {
    flex-basis:30%;
}
@media screen and (max-width:886px) {
    .flex-container.experience div {
        flex-basis:48%;
    }
@media screen and (max-width:586px) {
        .flex-container.experience div {
            flex-basis:100%;
        }
footer {
        color: #a33729;
        padding: 20px;
        text-align: center;
    }
.skills-content {
    height:50px;
    width:50px;
    display:flex;
    gap: 20px;
}
